In [1]:
import pandas as pd
import os

In [160]:
real = pd.DataFrame(columns=['name', 'value'])
forged = pd.DataFrame(columns=['name', 'value'])
# dataframe(["name", "value"])
real

Empty DataFrame
Columns: [name, value]
Index: []

In [161]:
os.listdir()

['.git',
 '.gitignore',
 '.ipynb_checkpoints',
 'classifier.py',
 'data',
 'DataLoader.py',
 'ETL.ipynb',
 'forged',
 'forged_bin',
 'forged_scaled',
 'genuine',
 'genuine_bin',
 'genuine_scaled',
 'load_data.py',
 'model.py',
 'np.csv',
 'preprocessing.py',
 'README.txt',
 'trainer.py',
 'true_signatures.csv']

In [162]:
REAL = 'genuine_bin'
FORGED = 'forged_bin'

In [163]:
for filename in os.listdir(REAL):
    real = real.append(pd.Series([filename, 1], index=real.columns ), ignore_index=True)
for filename in os.listdir(FORGED):
    forged = forged.append(pd.Series([filename, 0], index=forged.columns ), ignore_index=True)

In [171]:
real

                 name value owner num doer
0    NFI-00101001.png     1   001  01  001
1    NFI-00102001.png     1   001  02  001
2    NFI-00103001.png     1   001  03  001
3    NFI-00104001.png     1   001  04  001
4    NFI-00105001.png     1   001  05  001
..                ...   ...   ...  ..  ...
145  NFI-03001030.PNG     1   030  01  030
146  NFI-03002030.PNG     1   030  02  030
147  NFI-03003030.PNG     1   030  03  030
148  NFI-03004030.PNG     1   030  04  030
149  NFI-03005030.PNG     1   030  05  030

[150 rows x 5 columns]

In [170]:
forged

                 name value doer num owner
0    NFI-00101014.png     0  001  01   014
1    NFI-00101019.png     0  001  01   019
2    NFI-00101025.PNG     0  001  01   025
3    NFI-00101026.PNG     0  001  01   026
4    NFI-00101027.PNG     0  001  01   027
..                ...   ...  ...  ..   ...
145  NFI-08801004.png     0  088  01   004
146  NFI-08802004.png     0  088  02   004
147  NFI-08803004.png     0  088  03   004
148  NFI-08804004.png     0  088  04   004
149  NFI-08805004.png     0  088  05   004

[150 rows x 5 columns]

In [166]:
real['owner'] = real['name'].apply(lambda x: x[4:7])
real['num'] = real['name'].apply(lambda x: x[7:9])
real['doer'] = real['name'].apply(lambda x: x[9:12])

In [167]:
real

                 name value owner num doer
0    NFI-00101001.png     1   001  01  001
1    NFI-00102001.png     1   001  02  001
2    NFI-00103001.png     1   001  03  001
3    NFI-00104001.png     1   001  04  001
4    NFI-00105001.png     1   001  05  001
..                ...   ...   ...  ..  ...
145  NFI-03001030.PNG     1   030  01  030
146  NFI-03002030.PNG     1   030  02  030
147  NFI-03003030.PNG     1   030  03  030
148  NFI-03004030.PNG     1   030  04  030
149  NFI-03005030.PNG     1   030  05  030

[150 rows x 5 columns]

In [168]:
forged['doer'] = forged['name'].apply(lambda x: x[4:7])
forged['num'] = forged['name'].apply(lambda x: x[7:9])
forged['owner'] = forged['name'].apply(lambda x: x[9:12])

In [169]:
forged['owner'].value_counts()

009    6
016    5
006    5
021    5
015    5
029    5
022    5
014    5
011    5
020    5
001    5
007    5
023    5
026    5
017    5
018    5
028    5
005    5
027    5
002    5
003    5
008    5
004    5
013    5
024    5
019    5
030    5
012    5
025    5
010    4
Name: owner, dtype: int64

In [89]:
forged['doer'].value_counts()

001    40
003    25
004    20
007    10
011    10
005    10
025     5
012     5
033     5
013     5
088     5
023     5
017     5
Name: doer, dtype: int64

In [110]:
from itertools import combinations

In [131]:
real.groupby(['owner'])['num'].apply(lambda x: pd.DataFrame(list(combinations(x,2)))).reset_index().drop(['level_1'], axis=1)

In [132]:
comb.columns = ['owner','num','pair']

In [133]:
comb

    owner num pair
0     001  01   02
1     001  01   03
2     001  01   04
3     001  01   05
4     001  02   03
..    ...  ..  ...
295   030  02   04
296   030  02   05
297   030  03   04
298   030  03   05
299   030  04   05

[300 rows x 3 columns]

In [134]:
real = comb.merge(real, on=['owner', 'num'])

In [146]:
real

    owner num pair              name value doer
0     001  01   02  NFI-00101001.png     1  001
1     001  01   03  NFI-00101001.png     1  001
2     001  01   04  NFI-00101001.png     1  001
3     001  01   05  NFI-00101001.png     1  001
4     001  02   03  NFI-00102001.png     1  001
..    ...  ..  ...               ...   ...  ...
295   030  02   04  NFI-03002030.PNG     1  030
296   030  02   05  NFI-03002030.PNG     1  030
297   030  03   04  NFI-03003030.PNG     1  030
298   030  03   05  NFI-03003030.PNG     1  030
299   030  04   05  NFI-03004030.PNG     1  030

[300 rows x 6 columns]

In [147]:
real['pair_img'] = real.apply(lambda row: row['name'][0:7]+ row['pair'] + row['name'][9:], axis=1)

In [148]:
real

    owner num pair              name value doer          pair_img
0     001  01   02  NFI-00101001.png     1  001  NFI-00102001.png
1     001  01   03  NFI-00101001.png     1  001  NFI-00103001.png
2     001  01   04  NFI-00101001.png     1  001  NFI-00104001.png
3     001  01   05  NFI-00101001.png     1  001  NFI-00105001.png
4     001  02   03  NFI-00102001.png     1  001  NFI-00103001.png
..    ...  ..  ...               ...   ...  ...               ...
295   030  02   04  NFI-03002030.PNG     1  030  NFI-03004030.PNG
296   030  02   05  NFI-03002030.PNG     1  030  NFI-03005030.PNG
297   030  03   04  NFI-03003030.PNG     1  030  NFI-03004030.PNG
298   030  03   05  NFI-03003030.PNG     1  030  NFI-03005030.PNG
299   030  04   05  NFI-03004030.PNG     1  030  NFI-03005030.PNG

[300 rows x 7 columns]

In [152]:
real = real.drop(['doer'], axis=1)

In [153]:
real.columns = ['owner', 'sig1','sig2','sig1_img','target','sig2_img']

In [154]:
real

    owner sig1 sig2          sig1_img target          sig2_img
0     001   01   02  NFI-00101001.png      1  NFI-00102001.png
1     001   01   03  NFI-00101001.png      1  NFI-00103001.png
2     001   01   04  NFI-00101001.png      1  NFI-00104001.png
3     001   01   05  NFI-00101001.png      1  NFI-00105001.png
4     001   02   03  NFI-00102001.png      1  NFI-00103001.png
..    ...  ...  ...               ...    ...               ...
295   030   02   04  NFI-03002030.PNG      1  NFI-03004030.PNG
296   030   02   05  NFI-03002030.PNG      1  NFI-03005030.PNG
297   030   03   04  NFI-03003030.PNG      1  NFI-03004030.PNG
298   030   03   05  NFI-03003030.PNG      1  NFI-03005030.PNG
299   030   04   05  NFI-03004030.PNG      1  NFI-03005030.PNG

[300 rows x 6 columns]

In [155]:
real = real[['owner', 'sig1','sig2','sig1_img','sig2_img','target']]

In [198]:
real

                 name owner num
0    NFI-00101001.png   001  01
1    NFI-00102001.png   001  02
2    NFI-00103001.png   001  03
3    NFI-00104001.png   001  04
4    NFI-00105001.png   001  05
..                ...   ...  ..
145  NFI-03001030.PNG   030  01
146  NFI-03002030.PNG   030  02
147  NFI-03003030.PNG   030  03
148  NFI-03004030.PNG   030  04
149  NFI-03005030.PNG   030  05

[150 rows x 3 columns]

In [157]:
real.to_csv('true_signatures.csv')

In [183]:
real.groupby(['owner'])['num']

In [191]:
forged = forged.drop(['doer'], axis=1)

In [194]:
real = real.drop(['value','doer'], axis=1)

In [188]:
forged.groupby(['owner']).get_group('001')

                name value doer num owner
40  NFI-00301001.png     0  003  01   001
45  NFI-00302001.png     0  003  02   001
50  NFI-00303001.png     0  003  03   001
55  NFI-00304001.png     0  003  04   001
60  NFI-00305001.png     0  003  05   001

In [199]:
forged.merge(real, on=["owner"])

               name_x value num_x owner            name_y num_y
0    NFI-00101014.png     0    01   014  NFI-01401014.png    01
1    NFI-00101014.png     0    01   014  NFI-01402014.png    02
2    NFI-00101014.png     0    01   014  NFI-01403014.png    03
3    NFI-00101014.png     0    01   014  NFI-01404014.png    04
4    NFI-00101014.png     0    01   014  NFI-01405014.png    05
..                ...   ...   ...   ...               ...   ...
745  NFI-08805004.png     0    05   004  NFI-00401004.png    01
746  NFI-08805004.png     0    05   004  NFI-00402004.png    02
747  NFI-08805004.png     0    05   004  NFI-00403004.png    03
748  NFI-08805004.png     0    05   004  NFI-00404004.png    04
749  NFI-08805004.png     0    05   004  NFI-00405004.png    05

[750 rows x 6 columns]

In [200]:
forged = forged.merge(real, on=["owner"])

In [201]:
forged.columns = ['sig1_img', 'target','sig1','owner', 'sig2_img', 'sig2']

In [202]:
forged

             sig1_img target sig1 owner          sig2_img sig2
0    NFI-00101014.png      0   01   014  NFI-01401014.png   01
1    NFI-00101014.png      0   01   014  NFI-01402014.png   02
2    NFI-00101014.png      0   01   014  NFI-01403014.png   03
3    NFI-00101014.png      0   01   014  NFI-01404014.png   04
4    NFI-00101014.png      0   01   014  NFI-01405014.png   05
..                ...    ...  ...   ...               ...  ...
745  NFI-08805004.png      0   05   004  NFI-00401004.png   01
746  NFI-08805004.png      0   05   004  NFI-00402004.png   02
747  NFI-08805004.png      0   05   004  NFI-00403004.png   03
748  NFI-08805004.png      0   05   004  NFI-00404004.png   04
749  NFI-08805004.png      0   05   004  NFI-00405004.png   05

[750 rows x 6 columns]

In [203]:
forged = forged[['owner', 'sig1','sig2','sig1_img','sig2_img','target']]

In [208]:
forged.columns = ['owner', 'fake','original','fake','original','target']
forged
#sig1 is original sig2 is fake

    owner fake original              fake          original target
0     014   01       01  NFI-00101014.png  NFI-01401014.png      0
1     014   01       02  NFI-00101014.png  NFI-01402014.png      0
2     014   01       03  NFI-00101014.png  NFI-01403014.png      0
3     014   01       04  NFI-00101014.png  NFI-01404014.png      0
4     014   01       05  NFI-00101014.png  NFI-01405014.png      0
..    ...  ...      ...               ...               ...    ...
745   004   05       01  NFI-08805004.png  NFI-00401004.png      0
746   004   05       02  NFI-08805004.png  NFI-00402004.png      0
747   004   05       03  NFI-08805004.png  NFI-00403004.png      0
748   004   05       04  NFI-08805004.png  NFI-00404004.png      0
749   004   05       05  NFI-08805004.png  NFI-00405004.png      0

[750 rows x 6 columns]

In [205]:
os.listdir()

['.git',
 '.gitignore',
 '.ipynb_checkpoints',
 'classifier.py',
 'data',
 'DataLoader.py',
 'ETL.ipynb',
 'forged',
 'forged_bin',
 'forged_scaled',
 'genuine',
 'genuine_bin',
 'genuine_scaled',
 'load_data.py',
 'model.py',
 'np.csv',
 'preprocessing.py',
 'README.txt',
 'trainer.py',
 'true_signatures.csv']

In [209]:
forged.to_csv('forged_signatures.csv')